/* estates */
.estates-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 996px) {
  /* estates */
  .estates-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin: 0.5rem;
  }
}

/* estates condensed */
.estates-condensed {
  /* margin: 0 auto; */
}

.estates-condensed h2 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

.estates-condensed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 996px) {
  .estates-condensed h2 {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 0.5rem;
  }

  .estates-condensed-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    column-gap: 0.5rem;
  }
}

.blurred {
  /* pointer-events: none; */
  background: rgb(105, 105, 105);
  opacity: 0.3;
  cursor: default;
}
